section#sponsor
  .container
    .sponsor__heading
      h2.title SPONSOR
    .sponsor__block
      .sponsor__intoro
        p FRONTEND CONFERENCE 2017 では参加者どうしの「つながり」を起こす、様々な企画を検討中!
        p 企画の実現を後押ししてくれるスポンサー企業の応募をお待ちしております。
        p スポンサーのお問い合わせはページトップ、「SPONSOR 募集」 よりご連絡ください！
      .sponsor__lists

        each sponsor in sponsor_lists
          .sponsor__list
            - var bgValue = "background-image: url('./img/sponsor"+sponsor.pict+".png');"
            .sponsor__list__pict(style=bgValue)
            .sponsor__list__title
              p #{sponsor.title}
                span スポンサー
            .sponsor__list__detail
              p #{sponsor.detail}

            .sponsor__list__share
              p #{sponsor.share_comment}
              .btn--tw
                a(href="https://twitter.com/share?url=http://kfug.jp/frontconf2017/&amp;text=FRONTEND CONFERENCE 2017｜関西フロントエンドUG&hashtags=frontkansai" target="_blank")
                  span Twitterでシェア
              .btn--fb
                a(href="https://www.facebook.com/sharer/sharer.php?u=http://kfug.jp/frontconf2017/" target="_blank")
                  span Facebookでシェア

            .sponsor__list__point
              p #{sponsor.point}

            .btn--sponsor
              a(href="https://goo.gl/forms/rh4VqUY0TjLLAJU72",target="_blank")
                span SPONSORになる！
        br
        br
        p
        | その他様々なスポンサー企画を検討中！ スポンサー応募に関する詳細は、
        a(href="https://goo.gl/forms/rh4VqUY0TjLLAJU72",target="_blank") スポンサー申し込み
        | よりご確認下さい！


