mixin ogp(title,description,image)
  title=title
  meta(name="description", content=description)
  meta(property="og:title", content=title)
  meta(property="og:image", content=image)
  meta(property="og:description", content=description)
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:site", content="@frontkansai")
  meta(name="twitter:creator", content="@frontkansai")
  meta(name="twitter:title", content=title)
  meta(name="twitter:description", content=description)
  meta(name="twitter:image", content=image)
head
  meta(charset="utf-8")
  style(src="./css/style.css")
  meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no")
  link(rel="canonical", href="http://kfug.jp/frontconf2017/")
  link(rel="icon", type="image/png",href="./img/favicon.ico")
  +ogp("FRONTEND CONFERENCE 2017 | 関西フロントエンドUG","Webで働く全ての人のために、FRONTEND CONFERENCE 2017、大阪にて2017年 3月18日開催！","http://kfug.jp/frontconf2017/img/ogp.jpg")
  link(href="https://fonts.googleapis.com/css?family=Capriola", rel='stylesheet')
  link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", crossorigin="anonymous")
  link(rel="stylesheet", href="./assets/css/common.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
  script(type="text/javascript", src="./assets/js/common.bundle.js")

